<h2><%= @post.title %></h2>

<%= render @post %>

<%= link_to 'back', @user  %>

<div>
  <div><%= link_to "Edit", edit_user_post_path(@user, @post) %> </div>
</div>

<div>
  <%= link_to "Delete", user_post_path(@post.user_id, @post), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"

  } %>
</div>

<h3>Comments</h3>
<%= render @post.comments %>

<div>
  <h3>Add your own comment!</h3>
  <%= render 'comments/form' %>
</div>
